name: Homey validation

on:
  push:
  pull_request:

jobs:
  publish-validation:
    name: Validate Homey App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: athombv/github-action-homey-app-validate@v1
        with:
          level: publish
